 # Database
   MYSQL_DATABASE_URL=mysql://root:@localhost:3306/eshop_db

   # Clerk Auth
   CLERK_SECRET_KEY=sk_test_VxHH2dIA694JlLHA0E5EEeQfQtaYwnngwFaB7UZy1L
   CLERK_PUBLISHABLE_KEY=pk_test_dHJ1c3RlZC1sYWJyYWRvci0xNy5jbGVyay5hY2NvdW50cy5kZXYk...

   # Cloudinary Storage
   CLOUDINARY_CLOUD_NAME=ESHOP
   CLOUDINARY_API_KEY=628742284252888
   CLOUDINARY_API_SECRET=A0-22GWJSK_sCWxM37M9OoRFA2Q

   
  
   ```

# Payment & Email
FEDAPAY_SECRET=sk_live_ZpxzwGdrWeU2AWLuBO_UNOop
RESEND_API_KEY=re_UvgTGxmh_GfF7ytWdwJP5ZXsoHMBdK8tK

# Server Config
PORT=3000